/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#content {
  text-align: left;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 80px 40px;
}

@keyframes spinnerkf {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}


.loading-bar {
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 28px 0;
    }
  }
  max-width: 250px;
  min-width: 100px;
  min-height: 15px;
  background-image: repeating-linear-gradient(
    -45deg,
    #2980b9,
    #2980b9 11px,
    #eee 10px,
    #eee 20px /* determines size */
  );
  background-size: 28px 28px;
  animation: move .5s linear infinite;
}
