{

  "presets": [
    "react",
    ["env", {
      "modules": false,
      "targets": {
        "browsers": "> 5%",
        "uglify": true
      },
      "useBuiltIns": true
    }]
  ],
  "plugins": [
   ["transform-react-jsx", { "pragma": "h" }],
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "inline-react-svg",
    "babel-plugin-lodash",
    "transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-react-jsx",
        "transform-runtime"
      ],
      "presets": [
        "env", "react"
      ]
    }
  }
}
