<div class="sticky-top d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <%= link_to root_path do %>
    <%= image_tag :logo, alt: 'OpenStax logo', height: 30, width: 180 %>
  <% end %>
  <nav data-react-panel="top-navbar" id="top-navbar" data-turbolinks-permanent class="d-flex flex-row justify-content-center my-2 ml-md-auto my-md-0 mr-md-3">
  </nav>
</div>
